body {
    background-image: url(../images/gravel/gravel.png);
    font-family: Arial, Helvetica, sans-serif;
    color: #777777;
}

nav {
    background-color: #ffffff;
    border-bottom: 2px solid #cccccc;
}

footer {
    background-color: #666666;
    color: #ccc4ae;
    border-top: 8px solid #4aaaa5;
    padding: 0.5rem;
    font-size: small;
}

.navbar {
    padding: 0;
    margin-bottom: 2.5rem;
}

.navbar-brand {
    background-color: #4aaaa5;
    color: #ffffff !important;
    padding: 1rem 1.5rem 1rem 1.75rem;
    font-family: Georgia, 'Times New Roman', Times, serif;
    font-weight: bold;
    font-size: 24px;
}

.nav-link {
    padding-top: 0;
    padding-bottom: 0;
}

#left-nav {
    border-right: 1px solid #cccccc;
    padding-right: 24px;
}

#center-nav {
    border-right: 1px solid #cccccc;
    padding: 0 24px;
}

#right-nav {
    padding-left: 24px;
}

@media screen and (max-width: 992px) {
    #left-nav, #center-nav, #right-nav {
        border-right: 0;
        padding: 0;
    }
}

@media screen and (max-width: 576px) {
    .nav-item {
        padding-right: 1rem;
    }
}

/* END NAVBAR SPECIFIC STYLING */

p {
    line-height: 2rem;
}

.container {
    background-color: #ffffff;
    padding-left: 0;
    padding-right: 0;
}

.content-container {
    padding-left: 30px;
    padding-right: 30px;
    margin-bottom: 4rem;
}

.row {
    margin-left: 0;
    margin-right: 0;
    padding-bottom: 1rem;
}

.border-row {
    padding-bottom: 1rem;
}

.top-col {
    border-bottom: 2px solid #cccccc;
    margin-bottom: 1.5rem;
    padding-left: 0;
}

#content-header {
    color: #4aaaa5 !important;
    background-color: #ffffff;
    padding-left: 0;
    padding-top: 2rem;
}

#profilePicCol {
    padding-left: 0;
}

#profilePic {
    padding-left: 0;
}

/* PORTFOLIO-SPECIFIC CSS */

.col-5 {
    padding-left: 0;
}

.portfolio-boxes {
    width: 300px;
    height: 250px;
    background-color: #cccccc;
    margin: 20px 30px 20px 0;
    float: left;
}

.hover-outline:hover {
    outline: 5px solid #4882b8;
    outline-offset: 2px;
    opacity: 50%;
}

h3 {
    background-color: #4aaaa5;
    color: #ffffff;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    font-weight: normal;
    font-size: medium;
    padding: 20px 0;
    position: relative;
    bottom: 75px;
}

h3:hover {
    background-color: #4882b8;
}

@media screen and (min-width: 992px) {
    h3 {
        width: 300px;
    }
}

@media screen and (max-width: 992px) {
    h3 {
        padding: 15px 0;
        position: relative;
        bottom: 65px;
    }
}

@media screen and (max-width: 768px) {
    h3 {
        padding: 10px 0;
        position: relative;
        bottom: 50px;
    }
}
@media screen and (max-width: 576px) {
    h3 {
        padding: 5px 0;
        position: relative;
        bottom: 35px;
    }
}

@media screen and (max-width: 350px) {
    h3 {
        padding: 0;
        position: relative;
        bottom: 25px;
    }
}

/* CONTACT SPECIFIC CSS */

form {
    padding-bottom: 2rem;
}

#submitButton {
    background-color: #4aaaa5;
    color: #ffffff;
}

#submitButton:hover {
    color: #ffffff;
    background-color: #4882b8;
}